<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
    <style>
        .form-group {
            margin-bottom: 5px;
        }
        input, button {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    </style>
</head>
<body>
    <h1>Add New Book</h1>
    
    <form action="#" th:action="@{/addbook}" th:object="${book}" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" th:field="*{title}" required><br>
        </div>

        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" id="author" th:field="*{author}" required><br>
        </div>

        <div class="form-group">
            <label for="publicationYear">Year:</label>
            <input type="number" id="publicationYear" th:field="*{publicationYear}" required><br>
        </div>

        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" th:field="*{isbn}" required><br>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" step="0.01" id="price" th:field="*{price}" required><br>
        </div>

        <label for="category">Category:</label>
        <select th:field="*{category}">
            <option value="">Select category</option>
            <option th:each="category : ${categories}" 
                    th:value="${category.id}" 
                    th:text="${category.name}">
            </option>
        </select>
        <br>
        <input type="submit" value="Add Book" class="btn btn-primary">
    </form>

    <a href="/booklist">Back to Book List</a>
</body>
</html>