<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Book List</h1>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
        }
        tbody tr {
            line-height: 2;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ISBN</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.publicationYear}">Publication Year</td>
                <td th:text="${book.isbn}">ISBN</td>
                <td th:text="${book.price}">Price</td>
                <td>
                    <a th:href="@{/deletebook/{id}(id=${book.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/addbook">Add Book</a>
</body>
</html>